.drop-down-menu {
    position: relative;
}

.drop-down-menu__menu {
    width: max-content;
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    margin: 0;
    padding: 8px;
    list-style: none;
    transition: opacity var(--transition-normal), transform var(--transition-normal);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-4px);
    border-radius: var(--borderRadius);
    background-color: var(--color-background-aside);
    box-shadow: var(--shadow-popup);
    border: 1px solid var(--color-border);
    gap: 2px;
}

.drop-down-menu__menu_opened {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}
