.user-list {
    padding: 0;
    margin: 0;
}

.user-list__user-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0;
    list-style: none;
    background: transparent;
    gap: 16px;
    margin-bottom: 16px;
}

.user-list__add-button {
    margin: 0 0 0 auto;
}
