.user-list {
    padding: 0;
    margin: 0;
}

.user-list__user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    padding: 0;
    list-style: none;
    background: transparent;
    gap: 12px;
    margin-bottom: 16px;
}

.user-list__add-button {
    margin: 0 0 0 auto;
}
