.chat-card {
    display: grid;
    padding: 8px;
    margin-bottom: 8px;
    transition: box-shadow 0.25s;
    border-radius: 8px;
    grid-template-columns: min-content auto min-content;
}

.chat-card:hover {
    cursor: pointer;
    background: var(--color-background-message);
}

.chat-card-list__item {
    height: calc(10 * var(--space));
}

.chat-card__active {
    background: var(--color-background-message);
}

.chat-card__avatar {
    width: 48px;
    height: 48px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / 3;
}

.chat-card__name-wrapper {
    display: flex;
    align-items: center;
}

.chat-card__group-marker {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    background-image: url('../../../assets/img/noavatar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.chat-card__name {
    font-weight: 600;
    margin: 0;
}

.chat-card__counter-unread-messages {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--color-white);
    border-radius: 4px;
    background: var(--color-primary);
    justify-self: flex-end;
    grid-column: 3;
    grid-row: 1;
}

.chat-card__last-message {
    font-size: 13x;
    margin: 0;
    color: var(--colorGray);
    grid-column: 2;
    grid-row: 2;
}

.chat-card__updated-at {
    font-size: 11px;
    align-self: flex-end;
    white-space: nowrap;
    color: var(--color-secondary);
    justify-self: flex-end;
    grid-column: 3;
    grid-row: 2;
}
