.button {
    height: var(--buttonHeight);
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--borderRadius);
    border: none;

    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    min-width: 48px;
    margin: 0;
    padding: 0 16px;
    transition: transform 0.15s, opacity 0.15s, box-shadow 0.15s;
    outline: none;
    gap: 4px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-primaryHover);
}

.button:active {
    transform: scale(0.95);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.25;
}

.button__label {
    margin-left: 8px;
}

.button_trans {
    background: transparent;
}

.button_trans:hover {
    background: transparent;
    color: var(--colorGray);
}

.button_color_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.button_color_primary:focus {
    box-shadow: 0 0 0 4px var(--color-selected);
}
