.message {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.message:last-of-type {
    margin: auto 0 0;
}

.message_outgoing-message {
    flex-direction: row-reverse;
}

.message__avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    user-select: none;
    border-radius: var(--borderRadiusSmall);
    object-fit: cover;
}

.message__text {
    position: relative;
    max-width: 480px;
    margin: 0 0 4px;
    padding: 10px 14px;
    color: var(--color-white);
    border-radius: 12px 12px 12px 4px;
    background: var(--color-background-message);
    line-height: 1.45;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message_outgoing-message .message__text {
    border-radius: 12px 12px 4px 12px;
}

.message__date {
    font-size: 11px;
    position: relative;
    display: inline-block;
    margin-left: 8px;
    user-select: none;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.6);
    vertical-align: bottom;
}

.message__date_outgoing-message {
    color: rgba(255, 255, 255, 0.6);
}
