@import "../main.css";

.error__title {
    text-align: center;
    font-size: var(--fontSizeLarge);
    font-weight: var(--fontWeight);
}

.error__to-chat {
    display: flex;
    justify-content: center;
}

.error__to-chat-link {
    text-decoration: none;
    color: var(--color-primary);
    margin-top: calc(2 * var(--space));
}

.error__to-chat-link:hover {
    color: var(--color-primaryHover);
}
