@import '../../assets/styles/main.css';

.profile__main {
    width: 100%;
    max-width: 420px;
    padding: 32px;
}

.profile__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: calc(8 * var(--space));
    text-align: center;
}

.profile__avatar:hover {
    cursor: pointer;
}

.profile__input-button {
    display: flex;
    justify-content: center;
    margin-top: calc(6 * var(--space));
    margin-bottom: calc(2 * var(--space));
}

.profile__input-button .button {
    width: 100%;
}

.profile__input-field {
    display: grid;
    margin: calc(4 * var(--space)) 0 0;
    grid-template-columns: repeat(1, 1fr);
    gap: calc(3 * var(--space));
}

.profile__display-name {
    text-align: center;
    font-size: var(--fontSizeHeader);
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-top: calc(2 * var(--space));
}

.profile__wrap:last-child {
    border-bottom: none;
}

.profile__button-exit {
    color: var(--color-error);
    text-decoration: none;
    transition: color var(--transition-fast);
    font-weight: 500;
}

.profile__button-exit:hover {
    cursor: pointer;
    color: var(--color-errorHover);
}

.profile__buttons-comb {
    margin-top: calc(6 * var(--space));
}

.profile__button-change {
    color: var(--color-primary);
    text-decoration: none;
    transition: color var(--transition-fast);
    font-weight: 500;
}

.profile__button-change:hover {
    cursor: pointer;
    color: var(--color-primaryHover);
}

.profile__group {
    margin-top: calc(4 * var(--space));
}

.profile__logout {
    margin-top: calc(2 * var(--space));
}

.profile__choose-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
