@import "../../assets/styles/main.css";

.auth__title {
    text-align: center;
    font-size: var(--fontSizeHeader);
    font-weight: var(--fontWeight);
}

.auth__input:focus {
    border-bottom: 1px solid var(--color-primary);
}

.auth__input-field {
    display: grid;
    margin: calc(6 * var(--space)) 0 0;
    grid-template-columns: repeat(1, 1fr);
    gap: calc(3 * var(--space));
}

.auth__input-button {
    display: flex;
    justify-content: center;
    margin-top: calc(16 * var(--space));
    margin-bottom: calc(2 * var(--space));
}

.auth__to-sign-up {
    display: flex;
    justify-content: center;
}

.auth__to-sign-up-link {
    margin-top: calc(2 * var(--space));
}
