@import '../../assets/styles/main.css';

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-backBackground);
    width: calc(8 * var(--space));
    height: 100vh;
    position: absolute;
    left: 0;
    border-right: 1px solid var(--color-border);
    transition: background-color var(--transition-normal), box-shadow var(--transition-normal);
}

.back:hover {
    cursor: pointer;
    background-color: var(--colorGray100);
    box-shadow: 2px 0 16px rgba(0, 0, 0, 0.3);
}

.arrow {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition-fast), transform var(--transition-fast);
}

.arrow:hover {
    background-color: rgba(51, 105, 243, 0.15);
}

.arrow:active {
    transform: scale(0.9);
}

.arrow:after {
    position: absolute;
    top: 9px;
    left: 10px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2.5px solid var(--color-primary);
    border-bottom: 2.5px solid var(--color-primary);
    transform: rotate(45deg);
}
