.message-input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    background: var(--color-background-aside);
    border-top: 1px solid var(--color-border);
}

.message-input__attachment-menu {
    z-index: 1;
    bottom: 56px;
    left: 24px;
}

.message-input__form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 12px;
}

.message-input__input {
    flex-grow: 1;
}
