:root {
    --space: 8px;
    --heightElement: 35px;

    --buttonHeight: 40px;
    --buttonWidth: 280px;
    --buttonSize: 45px;

    --inputWidth: 280px;

    --heightHeader: 90px;
    --widthCard: 600px;
    --minMessageWidth: 250px;
    --avatarSize: 60px;
    --borderRadius: var(--space);

    --fontSizeSmall: 9px;
    --fontSize: 14px;
    --fontSizeTitle: 18px;
    --fontSizeHeader: 20px;
    --fontSizeLarge: 40px;
    --fontWeight: 600;
    --fontSizeSmall: 10px;
    --color-success: #7ab671;
    --color-border: #e0e0e0;
    --color-selected: #d7f0ff;
    --color-selected-success: #50bc40;
    --color-selected-error: #fcd4da;
    --color-visited-link: #854d7d;

    --color-background-message: #8774e1;
    --color-backBackground: #323232;
    --color-background: #212121;
    --color-background-aside: #2b2b2b;

    --color-white: #ffffff;
    --color-black: #222;
    --color-primary: #3369f3;
    --color-primaryHover: #267bff;
    --color-secondary: #808080;
    --color-error: #ff0000;
    --color-errorHover: #ff4040;
    --colorGray: #999999;
    --colorGray100: #424242;
    --colorGray200: #e0e0e0;
    --colorGray300: #232323;
    --colorDanger: #5d0000;
}
