{{#extend 'html' styles='../assets/styles/layouts/auth.css'}}
    {{#content 'body'}}
    <main class="auth">
        {{#extend 'card' card}}
            {{#content 'cardBody'}}
                <div class='auth__input-field'>
                    {{#each fields}}
                        {{> input this}}
                    {{/each}}
                </div>
                <div class='auth__input-button'>
                    {{> buttonLink submit}}
                </div>
                <div class='auth__to-sign-up'>
                    {{> link cancel}}
                </div>
            {{/content}}
        {{/extend}}
    </main>
    {{/content}}
{{/extend}}