{{#extend 'html' styles='../assets/styles/layouts/error.css'}}
    {{#content 'body'}}
        <main class='error'>
            <div class='error__main'>
                <h1 class='error__title'>{{this.codeError}}</h1>
                <h2>{{this.messageError}}</h2>
                <div class='error__to-chat'>
                    {{> link href='./auth_signin.hbs' text='Назад к чатам' className='error__to-chat-link'}}
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}