{{#extend 'html' styles='../assets/styles/layouts/profile.css'}}
    {{#content 'body'}}
        <main>
            <form>
                {{#extend 'avatar' user}}
                    {{#content 'avatarBody'}}
                        {{> uploadFile avatar}}
                    {{/content}}
                {{/extend}}
                <div class='profile__input-field'>
                    {{#each fields}}
                        {{> input this}}
                    {{/each}}
                </div>
                <div class='profile__buttons-comb'>
                    {{> buttonLink submit}}
                    <div class="profile__group">
                        {{#each cancel}}
                            <div class="profile__button-wrap">
                                {{> link this}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </form>
            <a href="./index.hbs" class="back">
                <div class="arrow"></div>
            </a>
        </main>
    {{/content}}
{{/extend}}